.welcomepage{
    background-color: #2a2d31;
    background-image: url(../../assets/images/wp3913041-quiz-wallpapers.jpg);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.divCenter{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.WelcomeMenudivCenter{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.welcomeHeader{
font-size: 60px;
font-weight: 800;
padding-bottom: 20px;
margin-bottom: 20px;
text-shadow: 2px 3px black;
}

.welcomeMenuTitle{
font-size: 45px;
font-weight: 700;
border-bottom: #60797d 2px solid;
margin-bottom: 20px;
}

.welcomeMenu{
font-size: 45px;
font-weight: 700;
text-shadow: 2px 3px rgb(117,177,188);
}

.MenuTitle{
text-shadow: 2px 3px #000000;
}

.WelcomeMenuItem{
text-shadow: 2px 3px #60797d;
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.WelcomeMenuItem:hover{
color: red;
padding-right: 0px;
padding-left:10px;
text-shadow: 2px 3px black;
}

.WelcomeMenuItem:after {
content: '»';
position: absolute;
opacity: 0;  
top: -2px;
left: -20px;
transition: 0.2s;
}

.WelcomeMenuItem:hover:after {
opacity: 1;
left: -25px;
}

@media (max-width: 800px) {
.welcomeHeader{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 3px black;
}

.welcomepage{
    background-color: #2a2d31;
    background-image: url(../../assets/images/wp3913041-quiz-wallpapers.jpg);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.WelcomeMenudivCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 250px;
}

.welcomeMenu{
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px 3px rgb(117,177,188);
}
}